:root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
}

/* HTML styles for the splash screen */

.purple {
    color: #8b44ac;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
